/*
 * 图片组件相关样式
 */
.gallery-figure{
	position: absolute;
	z-index: 100;
	width: 320px;
	height: 360px;
	padding: 40px;
	margin: 0;
	background-color: #FFFFFF;
	box-sizing: border-box;
	color: #555555;
	cursor: pointer;
	-webkit-transition: transform .6s ease-in-out,
	left .6s ease-in-out, top .6s ease-in-out;
	transition: transform .6s ease-in-out,
	left .6s ease-in-out, top .6s ease-in-out;
	/*3d旋转。表示子元素随父元素变换*/
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.gallery-image{
	width: 240px;
	height: 250px;
}
.image-title{
	font-size: 16px;
	margin-top: 10px;
	height: 60px;
	text-align: center;
}
.image-description{
	margin-top: -320px;
	width: 100%;
	height: 100%;
	/*
	 * translateZ(1px) z轴平移1px位于图像的下方
	 * 当翻转添加inverse样式时又翻转了180度
	 * 此时在图像的上方
	 */
	-webkit-transform: rotateY(180deg) translateZ(1px);
	transform: rotateY(180deg) translateZ(1px);
}
.gallery-image,
.image-title,
.image-description{
	-webkit-backface-visibility: hidden; /*翻转时不显示背面*/
	backface-visibility: hidden;
}
.gallery-figure.inverse{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}